@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
}

section {
  border: 1px solid transparent;
  width: 100%;
}

.home-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.055),
      rgba(0, 0, 0, 0.055)
    ),
    url("../img/bbgbg.png");
  background-color: #fff;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 6.6em;
}
.header-wrapper {
  width: 100%;
  height:  1vh;
  position: fixed;
  background-color: transparent;
  z-index: 9999;
  top: 0;
  padding-bottom: 6em;
  /* border: 1px solid red; */
}
.headerChangeColor{
  background-color: #000;
  top: 0;
  /* width: 100%; */
  margin: auto;
  height: 2vh;
  position: fixed;
  z-index: 1000;
}
.headerChangeColor .mobile-toggle div{
  background-color: #fff;
}
.headerChangeColor .inner-header-wrapper .top-nav ul li a {
  color: #fff;
}
.headerChangeColor .inner-header-wrapper .top-nav ul li a:hover,
.headerChangeColor .inner-header-wrapper .top-nav ul li a.active {
  color: rgba(255, 255, 255, 0.658);
  font-weight: bold;
}
.inner-header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
} 
.logo{
  padding-top: 5px;
}
.logo img {
  max-width: 100%;
  height: 80px;
  position: relative;
  z-index: 9999;
}
.logo a {
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: "Akaya Telivigala", cursive;
  font-size: 80px;
  background: -webkit-linear-gradient(#8c32f0, #e73587);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-color: linear-gradient(270deg, #8c32f0 0%, #e73587 100%); */
}
.logo strong {
  font-size: 20px;
}
.inner-header-wrapper .top-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.inner-header-wrapper .top-nav ul li {
  list-style: none;
}
.inner-header-wrapper .top-nav ul li a {
  text-decoration: none;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 1.5px;
  padding: 0 20px;
  color: #000;
  display: block;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.buysell{
	border: 1px solid red;
	background-color: #000;
	color: #fff;
	position: relative;
}
.inner-header-wrapper .top-nav ul li a:hover,
.inner-header-wrapper .top-nav ul li a.active {
  color: rgba(0, 0, 0, 0.705);
  /* background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%); */
  /* border-bottom: 1px solid #e73587; */
  font-weight: bold;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  height: 33px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8x, -6px);
  transform: rotate(45deg) translate(-8px, -6px);
}

.inner-home-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}
.home-article-container {
  width: 100%;
  margin-right: 10px;
}
.home-article-container h2 {
  font-size: 50px;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
    margin-bottom: 30px;

}
.intro {
  max-width: 500px;
  line-height: 1.8;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.925);
  font-size: 23px;
}
.home-article-container .btn-sell-buy {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #000;
}

.home-article-container a {
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.home-article-container a:hover{
  background: linear-gradient(270deg, #3a353f 0%, #e73587 100%);
}
.home-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img-container img {
  width: 300px;
  height: 100%;
}

.home-img-container img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.home-img-container img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.footer-container{
  /* border: 1px solid red; */
  background-color: rgba(209, 208, 208, 0.568);
}

.top-footer-container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}
.footer-logo img{
  height: 70px;
}
.left-footer, .middle-footer, .right-footer{
  min-height: 5vh;
}
.left-footer{
  width: 100%;
  padding-top: 13px;
}
.middle-footer{
  width: 100%;
  border-left: 1px solid rgb(197, 195, 195);
  padding: 20px;
}
.footer-links ul li{
  list-style: none;
  margin-top: 10px;
}
.footer-links ul li a{
  text-decoration: none;
  color: #000;
}
.footer-links ul li a:hover{
  text-decoration: underline;
  font-weight: bold;
}
.right-footer{
  width: 100%;
  border-left: 1px solid rgb(197, 195, 195);
}
.bottom-footer-container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  border: 1px solid red;
}